.input{
	width: 100%;
	height: 50px;
	border: 2px dashed black;
}
.input-tempo{
	width: 100px;
}
::-webkit-input-placeholder{
	text-align: right;
}
::-moz-input-placeholder{
	text-align: right;
}
::-ms-input-placeholder{
	text-align: right;
}