<nav class="navbar navbar-expand-lg navbar-light menu ">
  <a class="navbar-brand" routerLink="/home"><img src="../assets/logo_caixola.png" alt="Logo Caixola estudos"  class="navbar-brand" width="100px">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/home"><i class="fas fa-home" ></i>&nbsp; HOME<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
         <a class="nav-link tutorial"  routerLink="/iniciar_estudos"><i class="fas fa-play"  ></i>&nbsp; INICIAR ESTUDOS</a>
        

      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/minhas_materias" ><i class="fas fa-book"></i>&nbsp; MINHAS MATERIAS</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" routerLink="/minhas_metas"><i class="far fa-clock"></i>&nbsp; MINHAS METAS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/meu_desempenho"><i class="fas fa-chart-line"></i>&nbsp; MEU DESEMPENHO</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" routerLink="/meta_semanal"><i class="fas fa-list-ul"></i> META SEMANAL</a>
      </li>
      
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
