.select{
	width: 150px;
	height: 50px;
	border: 2px dashed black;
}
.linha{
		border-bottom: 1px solid black!important;
		border-top: 1px solid black!important;
}
.card{
	font-size: 20px;
}
.cardM{
	margin-bottom:-40px;
}