/* Classes Globais são colocadas neste arquivo */
@import url("../node_modules/ng2-toastr/bundles/ng2-toastr.min.css");
@import url("tutorial.css");
.destacar-texto{
	color:#f89d27;
}
.positivo{
	color:#32db64;
	font-size: 20px;
	margin-top: 25px;

}
.negativo{
	color:#f53d3d;
	font-size: 20px;
	margin-top: 25px;
}
.back-positivo{
	background: rgba(50,219,100,0.1);
}
.back-negativo{
	background: rgba(245,61,61,0.1);
}
.row{
	margin-top:10px;
}
input{
	padding-left: 5px;
}
.loader {
	border: 16px solid #f3f3f3; /* Light grey */
	border-top: 16px solid #ff6c00; /* Blue */
	border-radius: 50%;
	width: 100px;
	height: 100px;
	animation: spin 2s linear infinite;
}
@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

